body {
    background-color: #fce4ec; /* Pastel Pink */
    text-align: center;
    font-family: Arial, sans-serif;
}

.title {
    color: #ff69b4; /* Hot Pink */
}

form {
    margin: 0 auto;
    max-width: 300px;
    padding: 20px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
    color: #ff69b4; /* Hot Pink */
}

select,
input[type="number"],
input[type="submit"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

input[type="submit"] {
    background-color: #ff69b4; /* Hot Pink */
    color: white;
    cursor: pointer;
}

#recommendations {
    margin: 20px auto;
    max-width: 600px;
    text-align: left;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin: 5px 0;
    padding: 5px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
}
